body {
    background: rgba(0,1,1,0.78);
    color: whitesmoke;
}

.main-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.main-sponsors > img {
    float: left;
}

.gold-sponsors > img {
    max-width: 49%;
    background: white;
    margin-bottom: 5px;
}

@media (max-width: 546px) {
    .gold-sponsors > img {
        max-width: 100%;
    }
}

.sponsors > a {
    display: inline;
}

.sponsors img {
    max-width: 260px;
    margin-left: 10px;
    vertical-align: middle;
}

.navbar-right {
    margin-right: 2%;
}

.yt-video {
    height: 315px;
}

@media (max-width: 500px) {
    .yt-video {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .yt-video {
        height: 100px;
    }
}

.robot-div {
    width: 100%;
}

.photo {
    margin-top: 20px;
}

.robot-text {
    float: left;
    width: 50%;
}

.robot-div > img {
    max-width: 50%;
    margin-bottom: 10px;
}

.margin {
    margin-top: 10px;
}

