body {
    background: url("/img/background.jpg");
}

.main-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.main-sponsors > img {
    float: left;
}

.gold-sponsors > img {
    max-width: 45%;
    background: white;
    margin-bottom: 5px;
}

.r1r {
    min-height: 195px;
}

.r2r {
    min-height: 120px;
}

.sponsors > a {
    display: inline;
}

.sponsors img {
    max-width: 260px;
    margin-left: 10px;
    vertical-align: middle;
}

.navbar-right {
    margin-right: 2%;
}

.robot-div {
    width: 100%;
}

.robot-text {
    float: right;
    max-width: 45%;
    margin-left: 10px;
}

.robot-div > img {
    max-width: 50%;
    margin-bottom: 10px;
}

.margin {
    margin-top: 10px;
}

